p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

p.intro {
  width: 50%;
  font-style: italic;
}

.dynamite {
  color: blue;
}

img.intro {
   width: 33%;
}

.cord {
  border: solid 4px;
  background-color: blue;
}
